################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/Monopoly
/obj/Debug/net9.0
/MonopolyProject/.vs
/MonopolyProject/bin/Debug/net9.0
/MonopolyProject/Migrations
/MonopolyProject/obj
/MonopolyTests/bin/Debug/net9.0
/MonopolyTests/obj
